/**************************************************
* Lists
**************************************************/
ul {
  margin: 0;
  padding: 20px;
}

li {
  margin-bottom: 0.75em;
}


.debug {
  border: 1px solid;
  &.blue {
    border-color: blue;
  }
}
